{% extends 'base.html' %}

{% block head %} 
<title>Dashboard</title>
{% endblock %}


{% block body %}


<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <h1>Cox Model</h1>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <input type="text" name="excel_file" id="excel_file" placeholder="url..." style="margin: 3%; width: 40%;">
        <input type="button" class="btn btn-info" name="import" id="import" value="Import" onclick=display_excel()>
        <form action="{{ url_for('view_excel')}}" method="POST">
            <input style="margin: 5%;" class="form-control btn btn-primary" type="submit" name="submit" id="Submit" value="Submit">
        </form>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <iframe id="excel_iframe" width="640" height="480"></iframe>
    </div>
</div>

<script>
    function display_excel(){
        let iframe = document.getElementById("excel_iframe");
        let url = document.getElementById("excel_file").value;
        let index = url.indexOf("view");
        let link = url.slice(0, index);

        iframe.src = link+"preview";
    }
</script>
{% endblock %}
